# Observatory API
fastapi
uvicorn[standard]
pydantic
python-dotenv
python-whois
requests

# Observatory database
psycopg[binary,pool]

# Observatory utilities
beautifulsoup4
lxml
pdfplumber
PyMuPDF
tldextract
pandas
aiofiles
tqdm
aiohttp
